.section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 96px; /* Equivalent to my-12 */
    padding-top: 96px; /* Equivalent to py-24 */
    gap: 16px; /* Equivalent to gap-4 */
  }
  
  .title {
    font-size: 2.25rem; /* Equivalent to text-4xl */
    font-weight: bold; /* Equivalent to font-bold */
    background-clip: text;
    background-image: linear-gradient(to right, #a8dadc, #457b9d, #1d3557);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    margin-bottom: 16px; /* Equivalent to mb-4 */
  }
  
  .paragraph {
    color: #000; /* Equivalent to text-black */
    margin-bottom: 16px; /* Equivalent to mb-4 */
    max-width: 28rem; /* Equivalent to max-w-md */
  }
  
  .socials {
    display: flex;
    flex-direction: row;
    gap: 8px; /* Equivalent to gap-2 */
  }
  
  .socials a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socials a img {
    width: 60px; /* Equivalent to width-60 */
    height: 60px; /* Equivalent to height-60 */
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
  }
  
  .formContainer label {
    color: #000; /* Equivalent to text-black */
    margin-bottom: 8px; /* Equivalent to mb-2 */
    font-size: 0.875rem; /* Equivalent to text-sm */
    font-weight: medium; /* Equivalent to font-medium */
  }
  
  .formContainer input,
  .formContainer textarea {
    background-color: #18191e; /* Equivalent to bg-[#18191E] */
    border: 1px solid #33353f; /* Equivalent to border border-[#33353F] */
    color: #9ca2a9; /* Equivalent to placeholder-[#9CA2A9] */
    border-radius: 0.375rem; /* Equivalent to rounded-lg */
    padding: 10px 15px; /* Equivalent to p-2.5 */
    margin-bottom: 16px; /* Equivalent to mb-6 */
    width: 100%; /* Equivalent to w-full */
  }
  
  .formContainer textarea {
    resize: vertical; /* For textarea auto resizing */
  }
  
  .formContainer button {
    background-image: linear-gradient(to right, #a8dadc, #457b9d, #1d3557);
    color: #fff; /* Equivalent to text-white */
    font-weight: medium; /* Equivalent to font-medium */
    border: none;
    border-radius: 0.375rem; /* Equivalent to rounded-lg */
    padding: 10px 25px; /* Equivalent to py-2.5 px-5 */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .formContainer button:hover {
    background-color: #fcd34d; /* Equivalent to hover:bg-yellow-300 */
    color: #000; /* Equivalent to hover:text-black */
  }
  
  .successMessage {
    color: #10b981; /* Equivalent to text-green-500 */
    font-size: 0.875rem; /* Equivalent to text-sm */
    margin-top: 8px; /* Equivalent to mt-2 */
  }
  