.section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 96px; 
    padding-top: 300px; 
    gap: 16px;
    height: 80vh;
   
  }
  
  .title {
    font-size: 2.25rem; 
    font-weight: bold;
    background-clip: text;
    background-image: linear-gradient(to right, #a8dadc, #457b9d, #1d3557);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    margin-bottom: 16px;
  }
  
  .paragraph {
    color: #000; 
    margin-bottom: 16px;
    max-width: 28rem;
  }
  
  .socials {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  
  .socials a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socials a img {
    width: 60px; 
    height: 60px;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
  }
  
  .formContainer label {
    color: #000; 
    margin-bottom: 8px; 
    font-size: 0.875rem; 
    font-weight: medium;
  }
  
  .formContainer input,
  .formContainer textarea {
    background-color: #18191e; 
    border: 1px solid #33353f;
    color: #9ca2a9; 
    border-radius: 0.375rem; 
    padding: 10px 15px; 
    margin-bottom: 16px; 
    width: 100%; 
  }
  
  .formContainer textarea {
    resize: vertical; 
  }
  
  .formContainer button {
    background-image: linear-gradient(to right, #a8dadc, #457b9d, #1d3557);
    color: #fff; 
    font-weight: medium; 
    border: none;
    border-radius: 0.375rem; 
    padding: 10px 25px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .formContainer button:hover {
    background-color: #fcd34d; 
    color: #000;
  }
  
  .successMessage {
    color: #10b981; 
    font-size: 0.875rem; 
    margin-top: 8px;
  }
  