.section {
  color: #374151;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  padding-top: 40px;
  overflow: visible;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}

.imageContainer {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contactImage {
  width: 80%;
  height: 100vh;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 30px;
 
}

.content {
  width: 100%;
  padding: 0 2rem;
  align-items: start;
}

.title {
  font-size: 2.5rem;
  font-weight: 200;
  color: #45076f;
  margin-bottom: 1rem;
}

.section .description {
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 10px;
}

.formContainer {
  width: 100%;
  padding: 2rem;
  margin-top: 30px;
  background-color: #fcefb467;
  border-radius: 5px;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formLabel {
  font-size: 1.3rem;
  color: #45076f;
  font-weight: bold;
}
.inputField {
  width: 100%;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  margin-top: 5px;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #4b5563;
}

.inputError {
  border-color: #dc2626;
}

.errorText {
  color: #dc2626;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
