
.navbar {
    background-color: #e4d8d8;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile {
    display: flex;
    align-items: center;
  }
  
  .profileImage {
    border-radius: 50%; /* Makes the image rounded */
    margin-right: 10px; /* Adjust spacing between image and name */
  }

  .navLinks {
    display: flex;
    gap: 1rem;
    margin-right: 50px;
  }
  
  .nav-link {
    font-size: 1rem;
    cursor: pointer;
  }
  
  .nav-link:hover {
    text-decoration: none;
    color: black
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: absolute;
      top: 4rem;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 1rem;
      z-index: 1000;
    }
  
    .nav-link {
      font-size: 1.2rem;
    }
  }
  