.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.button {
  background-color: #b3074f;
  height: 80px;
  width: 200px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e34889;
}

@media (max-width: 768px) {
  .buttonContainer {
    height: 50px;
    padding: 60px;
  }

  .button {
    height: 60px;
    width: 200px;
  }
}

@media (max-width: 480px) {
  .buttonContainer {
    height: 50px;
    padding: 20px;
  }

  .button {
    height: 60px;
    width: 100px;
    padding: 10px 20px;
  }
}
