.underConstructionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fcefb467;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.underConstructionTitle {
    font-size: 2.5rem;
    font-weight: 200;
    color: #b3074f;
    margin-bottom: 2rem;
    margin-top: 10%;
 
}

@media (max-width: 640px) {
  .underConstructionTitle {
    font-size: 1.5rem;
  }
  }


@media (max-width: 1024px) {
  .underConstructionTitle {
    font-size: 1.5rem;
  }
  }